.all{
    background-image: url('./asset/8436207.jpg') ;
    background-size: auto ;
    background-position: top; 
    background-repeat: no-repeat;
    background-position: auto 10px;
    background-size: cover;
}

.bodytext{
    margin-top:250px;
    text-align: center;
    justify-content: center;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;;
}
.main_menu  {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color:#341024;
    font-size: 30px;

}

.beranda   {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    list-style-type: none;
    color:#341024;
}

.tentang    {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    list-style-type: none;
    color:#341024;
}

.login  {
    padding-top: ;
    padding-bottom: ;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 7px;
    margin-left: 40px;
    margin-right: 40px;
    list-style-type: none;
    color:#341024;
    border-style: solid;
    border-color:#341024;
    border-radius: 10px;
    border-width: 3px;
    width: 100px;
    height: 40px;
    border-spacing: 0;
}

.kontak {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    list-style-type: none;
    color:#341024;
}
.faq    {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    list-style-type: none;
    color:#341024;
}

.menubutton {
    max-width: 30px;
    max-height: 30px;
   margin-left: 10px;
   margin-right: 55px;
   margin-top: 15px;
   list-style-type: none;
   float: right;
}

.menikmati_senja {
 text-align: center;
 font-size:120px;
 line-height: 100px;
 color:#341024;
}
.ngopi{
   text-align: center;
   font-size: 30px; 
   line-height: 30px;
   color:#341024;
}
.daftar{
background-color: #341024; 
  border: none;
  color: #ffffff;
  padding: 10px 35px;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}



